.catalog {
  margin-bottom: 25px;
}

.catalog__title {
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 41px -1px;
  font-weight: 400;

  @media (min-width: 1440px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .catalog {
    padding: 0 30px;
    margin-bottom: 70px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 52px 0 85px;
  }

  .catalog__products-list {
    gap: 60px;
  }
}

@media (min-width: 1440px) {
  .catalog {
    padding: 0 110px;
    margin: 0 auto 76px auto;
  }

  .catalog__title {
    margin-bottom: 84px;
    margin-top: 61px;
  }

  .catalog__products-list {
    column-gap: 80px;
    row-gap: 63px;
  }
}
