.catalog {
  margin-bottom: 25px;
}

.catalog__title {
  @include header-2;
  line-height: 36px;
  margin: 27px 0 41px -1px;
  font-weight: 400;
}

.catalog__products-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 30px;
    margin-bottom: 70px;
  }

  .catalog__title {
    font-size: $size-xxl;
    line-height: 60px;
    margin: 52px 0 85px;
  }

  .catalog__products-list {
    gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0 110px;
    margin: 0 auto 76px auto;
  }

  .catalog__title {
    margin-bottom: 84px;
    margin-top: 61px;
  }

  .catalog__products-list {
    column-gap: 80px;
    row-gap: 63px;
  }
}
