.custom-checkbox-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
}

.custom-checkbox-wrapper__label {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-left: 45px;
  text-transform: uppercase;
}

.custom-checkbox-wrapper__custom-checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  display: block;
  top: -4px;
  position: absolute;
  transition: border 250ms;
}

.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__custom-checkbox,
.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__custom-checkbox::after,
.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__label {
  opacity: 0.3;
}

.custom-checkbox-wrapper__actual-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.custom-checkbox-wrapper__actual-checkbox:checked {
  background-repeat: no-repeat;
  background-image: url("../img/icons/checkmark.svg");
  background-size: 18px 14px;
  background-position: center;
}

.custom-checkbox-wrapper__actual-checkbox:hover ~ .custom-checkbox-wrapper__custom-checkbox {
  border: 1px solid #bababa;
}

.custom-checkbox-wrapper__actual-checkbox:focus ~ .custom-checkbox-wrapper__custom-checkbox {
  border: 1px solid #444444;
}

@media (min-width: 768px) {
  .custom-checkbox-wrapper__custom-checkbox {
    width: 40px;
    height: 40px;
  }

  .custom-checkbox-wrapper__actual-checkbox {
    width: 40px;
    height: 40px;
  }

  .custom-checkbox-wrapper__actual-checkbox:checked {
    background-size: 24px 18px;
    background-position: center;
  }

  .custom-checkbox-wrapper {
    width: 50%;
  }

  .custom-checkbox-wrapper:nth-of-type(2n) {
    padding-left: 31px;
  }

  .custom-checkbox-wrapper__label {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
  }
}

@media (min-width: 1440px) {
  .custom-checkbox-wrapper:nth-of-type(2n) {
    padding-left: 0;
  }

  .custom-checkbox-wrapper {
    width: 25%;
  }
}
