.custom-checkbox-wrapper {
  position: relative;
  cursor: pointer;
}

.custom-checkbox-wrapper__label {
  font-family: "Oswald", sans-serif;
  font-size: $size-md;
  margin-left: 45px;
  text-transform: uppercase;
}

.custom-checkbox-wrapper__custom-checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  display: block;
  top: -4px;
  position: absolute;
  transition: border $animation-duration;
}

.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__custom-checkbox,
.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__custom-checkbox::after,
.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__label {
  opacity: 0.3;
}

.custom-checkbox-wrapper__actual-checkbox:checked ~ .custom-checkbox-wrapper__custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  width: 24px;
  height: 19px;
  background-image: url("../img/icons/checkmark.svg");
}

.custom-checkbox-wrapper__actual-checkbox:hover ~ .custom-checkbox-wrapper__custom-checkbox {
  border: 1px solid #bababa;
}

.custom-checkbox-wrapper__actual-checkbox:focus ~ .custom-checkbox-wrapper__custom-checkbox {
  border: 1px solid #444444;
}

@media (min-width: $tablet-width) {
  .custom-checkbox-wrapper__custom-checkbox {
    width: 40px;
    height: 40px;
  }

  .custom-checkbox-wrapper {
    width: 50%;
  }

  .custom-checkbox-wrapper:nth-of-type(2n) {
    padding-left: 31px;
  }

  .custom-checkbox-wrapper__label {
    font-size: $size-lg;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  // .custom-checkbox-wrapper:nth-of-type(2) {
  //   margin-left: -79px;
  // }

  // .custom-checkbox-wrapper:nth-of-type(3) {
  //   left: -15px;
  // }

  .custom-checkbox-wrapper:nth-of-type(2n) {
    padding-left: 0;
  }

  .custom-checkbox-wrapper {
    width: 25%;
  }
}
