.example__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding-top: 20px;
}

.example__description-desktop-separators {
  display: none;
}

.example {
  position: relative;
  background-color: #eaeaea;
}

.example__title {
  @include header-2;
  margin: 3px 0 40px;
  color: #000000;
  font-weight: 400;
}

.example__description {
  color: $text-secondary-color;
  font-family: $alternate-font;
  font-size: $size-sm;
  line-height: 18px;
  margin-bottom: 19px;
  width: 280px;
}

.example__stats {
  margin-bottom: 8px;
}

.example__total {
  @include mp0;
  font-family: $primary-font;
  text-transform: uppercase;
  font-size: $size-sm;
  line-height: 20px;
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
    height: 1036px;
    margin-bottom: 26px;
  }

  .example::after {
    content: "";
    display: block;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
    position: absolute;
    bottom: -24px;
    left: 0;
    z-index: 1;
  }

  .example__wrapper {
    gap: 67px;
    justify-content: flex-start;
  }

  .example__title {
    font-size: $size-xxl;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .example__description {
    width: 100%;
    font-size: $size-md;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .example__total {
    text-align: right;
    font-size: $size-lg;
    line-height: 28px;
    padding-top: 9px;
  }

  .example__total-number {
    display: block;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .example__description-desktop-separators {
    display: inline;
  }

  .example {
    height: auto;
    margin-bottom: 24px;
  }

  .example__wrapper {
    flex-direction: row;
    gap: 184px;
    padding-top: 0;
  }

  .example::after {
    top: 139px;
    background-color: $secondary-color;
    min-height: 462px;
    height: auto;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__description,
  .example__total {
    z-index: 2;
    position: relative;
    margin-bottom: 69px;
  }

  .example__description,
  .example__stats {
    width: 475px;
  }

  .example__stats {
    flex-direction: column;
  }

  .example__total {
    text-align: left;
  }

  .example__total-number {
    display: inline-block;
    margin-left: 63px;
  }
}
