.main-menu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: $size-lg;
}

.main-menu__items--closed {
  display: none;
}

.main-menu__link {
  text-decoration: none;
  color: #000000;
  position: relative;
  transition: opacity $animation-duration;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (max-width: calc($tablet-width - 1px)) {
  .main-menu {
    position: relative;
  }

  .main-menu__toggle-menu {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 1.5px;
      background-color: #000000;
      top: 0;
      left: 0;
      box-shadow: 0 8px 0 #000000, 0 16px 0 #000000;
    }

    &:has(+.main-menu__items--opened) {
      width: 24px;
      height: 24px;

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 25px;
        height: 1.5px;
        background-color: #000000;
        box-shadow: none;
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  .main-menu__items--opened {
    position: absolute;
    width: 320px;
    background-color: #ffffff;
    left: -276px;
    top: 44px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
  }

  .main-menu__item {
    width: 100%;
    padding: 22px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;

    &:first-of-type {
      border-top: 1px solid #e6e6e6;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    margin-left: 93px;
  }

  .main-menu__toggle-menu {
    display: none;
  }

  .main-menu__items {
    max-width: 438px;
    display: flex;
    gap: 33px;
    font-size: 18px;
    line-height: 24px;
  }

  .main-menu__item--active {
    cursor: default;
  }

  .main-menu__item--active a::after {
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    background-color: $primary-color;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__items {
    font-size: $size-lg;
    line-height: 20px;
    max-width: 680px;
    gap: 34px;
  }

  .main-menu__items--alternate a {
    color: $text-primary-color;
  }

  .main-menu__items--alternate .main-menu__item--active a::after {
    background-color: #ffffff;
  }

  .main-menu__item--active a::after {
    bottom: -8px;
  }
}
