.map {
  padding: 0;
  background-color: #ffffff;
}

.map__text {
  background-color: #ffffff;
}

.map__text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 320px;
  padding: 26px 20px;
  margin: 0 auto;
}

.map__text--alternate-bg {
  background-color: $secondary-color;
}

.map__title {
  @include mp0;
  font-family: $primary-font;
  font-size: $size-md;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.map__address {
  @include mp0;
  font-family: $alternate-font;
  font-size: $size-sm;
  line-height: 20px;
  color: $text-secondary-color;
  width: 140px;
  display: inline-block;
  justify-self: end;
}

.map__actual-map {
  background: #ffffff url("../../img/map-mobile.jpg") no-repeat center center / cover;
  height: 362px;
  width: 100%;
  border: 0;
  display: block;

  @media (min-resolution: 2dppx) {
    background: #ffffff url("../../img/map-mobile@2x.jpg") no-repeat center center / cover;
  }
}

@media (min-width: $tablet-width) {
  .map__text {
    width: 100%;
    display: flex;
  }

  .map__text-container {
    margin: 0 auto;
    width: 768px;
    display: flex;
    justify-content: space-between;
    padding: 60px 70px 59px 69px;
  }

  .map__title {
    font-size: $size-lg;
    line-height: 26px;
    width: 170px;
  }

  .map__address {
    font-size: $size-md;
    text-align: right;
    flex-grow: 1;
    max-width: 160px;
  }

  .map__city {
    display: inline-block;
    margin-top: 20px;
  }

  .map__actual-map {
    height: 400px;
    background: #ffffff url("../../img/map-tablet.jpg") no-repeat center center / cover;

    @media (min-resolution: 2dppx) {
      background: #ffffff url("../../img/map-tablet@2x.jpg") no-repeat center center / cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
    height: 400px;
    margin-top: -22px;
    z-index: 3;
  }

  .map__text {
    width: 565px;
    padding: 60px 75px 60px 80px;
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 110px;
  }

  .map__text-container {
    padding: 0;
  }

  .map__address {
    text-align: left;
  }

  .map__text--alternate-bg {
    background-color: #ffffff;
  }

  .map__actual-map {
    position: absolute;
    left: 0;
    width: 100%;
    background: #ffffff url("../../img/map-desktop.jpg") no-repeat center center / cover;

    @media (min-resolution: 2dppx) {
      background: #ffffff url("../../img/map-desktop@2x.jpg") no-repeat center center / cover;
    }
  }
}
