.options__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 21px;
}

.options__card {
  width: 280px;
  background-color: $secondary-color;
  padding: 30px 33px 18px 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    background-size: cover;
  }

  &--fat-loss::before {
    background-image: url("../img/icons/lost-fat.svg");
    width: 36px;
    height: 50px;
    left: 27px;
    top: 21px;
  }

  &--gain-mass::before {
    background-image: url("../img/icons/gain-mass.svg");
    width: 67px;
    height: 28px;
    left: 12px;
    top: 35px;
  }
}


.options__title {
  @include mp0;
  font-family: $primary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 29px 70px;
  position: relative;
  font-weight: 400;

  &::before {
    width: 50px;
    height: 50px;
    content: "";
    position: absolute;
    background-color: $primary-color;
    border-radius: 50%;
    left: -70px;
    top: -5px;
  }

  .options__card--fat-loss & {
    top: -1px;
  }

  .options__card--gain-mass & {
    top: 1px;
    left: 2px;
  }
}

.options__description {
  @include mp0;
  font-family: $alternate-font;
  font-size: $size-sm;
  line-height: 18px;
  margin-bottom: 41px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
    bottom: -23px;
    left: 0;
  }

  .options__card--gain-mass & {
    margin-bottom: 43px;
  }
}

.options__link {
  font-family: $primary-font;
  font-size: $size-md;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: opacity $animation-duration;

  &:hover .options__arrow {
    transform: scaleX(1.33);
  }

  &:active,
  &:active .options__arrow {
    opacity: 0.3;
  }
}

.options__arrow {
  margin-left: 14px;
  position: relative;
  top: -1px;
  transform-origin: left center;
  transition:
    transform $animation-duration,
    opacity $animation-duration;
}

.options__arrow line {
  stroke: #000000;
}

.options__arrow path {
  fill: #000000;
}

@media (min-width: $tablet-width) {
  .options__wrapper {
    margin-bottom: 46px;
    gap: 31px;
  }

  .options__card {
    width: 708px;
    padding: 77px 316px 58px 52px;

    &--fat-loss::before {
      width: 141px;
      height: 194px;
      left: 474px;
      top: 80px;
    }

    &--gain-mass::before {
      width: 271px;
      height: 113px;
      left: 410px;
      top: 135px;
    }

    &--gain-mass {
      & .options__title::before {
        left: 391px;
      }

      .options__description {
        margin-bottom: 59px;
      }
    }
  }

  .options__title {
    margin: 0 0 24px 0;
    font-size: $size-xl;
    line-height: 36px;

    &::before {
      width: 200px;
      height: 200px;
      left: 394px;
      top: 14px;
    }
  }

  .options__description {
    font-size: $size-md;
    line-height: 24px;
    margin-bottom: 58px;

    &::after {
      display: none;
    }
  }

  .options__link {
    font-size: $size-lg;
  }

  .options__arrow {
    margin-left: 22px;
    top: -3px;
  }
}

@media (min-width: $desktop-width) {
  .options__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 71px;
  }

  .options__card {
    width: 570px;
    padding: 80px 61px 61px 52px;

    &--fat-loss::before {
      width: 71px;
      height: 97px;
      left: 66px;
      top: 43px;
    }

    &--gain-mass::before {
      width: 137px;
      height: 57px;
      left: 31px;
      top: 69px;
    }
  }

  .options__title {
    margin: 0 0 73px 162px;
  }

  .options__card--gain-mass .options__title {
    top: -1px;
    left: 0;
  }

  .options__title::before {
    width: 100px;
    height: 100px;
    left: -163px;
    top: -30px;
  }

  .options__card--gain-mass .options__title::before {
    left: -162px;
    top: -30px;
  }

  .options__description,
  .options__card--gain-mass .options__description {
    margin-bottom: 33px;
  }
}
