.product-card {
  min-height: 209px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;
  padding-top: 22px;
}

.product-card:first-of-type {
  border-top: 1px solid #ebebeb;
}

.product-card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin-bottom: -2px;
}

.product-card__image {
  height: 86px;
  width: auto;
  transform: scale(1.17);

  &--smaller {
    transform: scale(1);
  }

  &--even-smaller {
    transform: scale(0.9);
  }
}

.product-card__text {
  display: flex;
  flex-direction: column;
}

.product-card__link {
  text-decoration: none;
  color: #000000;
  order: 1;
}

.product-card__title-separator--tablet {
  display: none;
}

.product-card__title {
  @include mp0;
  font-family: $primary-font;
  font-size: $size-md;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  width: 105px;
}

.product-card__link--image {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 0;
  position: relative;
  top: -10px;
}

.product-card__description {
  font-family: $alternate-font;
  color: $text-secondary-color;
  font-size: $size-xs;
  line-height: 16px;
  order: 2;
  margin: 14px 0 23px;
}

.product-card__description-item {
  display: flex;
  justify-content: space-between;
}

.product-card__option-name,
.product-card__option-value {
  font-size: $size-xs;
  line-height: 16px;
}

.product-card__option-value {
  text-align: right;
}

.product-card__option-value--price::after {
  content: " ₽";
}

.product-card__cta {
  flex-shrink: 0;
  order: 3;
  min-height: 40px;
}

.product-card--show-more {
  text-align: center;
  display: flex;
  padding-top: 26px;
  padding-left: 15px;

  & .product-card__description {
    margin: 9px 0 21px;
    left: -7px;
    position: relative;
  }

  & .product-card__title {
    width: 250px;
    font-weight: 400;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -53px;
      left: 124.5px;
      width: 2px;
      height: 30px;
      background-color: #d2d2d2;
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}

.product-card__title--show-more {
  margin-top: 53px;
  text-align: center;
  cursor: default;
}

.product-card__cta--show-more {
  width: 280px;
  position: relative;
  left: -16px;
  order: 3;
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 324px;
    min-height: 511px;
    background-color: $secondary-color;
    position: relative;
    border: none;
    padding: 0 37px 40px;
  }

  .product-card:first-of-type {
    border: none;
  }

  .product-card::before {
    width: 100%;
    height: 81px;
    content: "";
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .product-card__info {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .product-card__image {
    height: 210px;
    margin-bottom: 22px;
    transform: scale(0.98);

    &--smaller,
    &--even-smaller {
      transform: scale(0.82);
    }
  }

  .product-card--show-more .product-card__title {
    margin-bottom: 13px;
    width: auto;

    &::before,
    &::after {
      height: 60px;
      top: -110px;
      left: 84px;
    }
  }

  .product-card__text {
    margin-bottom: 12px;
  }

  .product-card__title {
    text-align: center;
    font-size: $size-lg;
    line-height: 24px;
    width: 140px;
    margin: 0 auto;
  }

  .product-card__description-item {
    border-bottom: 1px solid #cdcdcd;
    padding: 6px 0 4px;
  }

  .product-card__option-name,
  .product-card__option-value {
    font-size: $size-md;
    line-height: 20px;
  }

  .product-card--show-more {
    height: 100%;
    min-height: 429px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    position: relative;
    top: 81px;
    padding: 160px 77px 40px;
    justify-content: flex-start;
  }

  .product-card--show-more::before {
    display: none;
  }

  .product-card--show-more .product-card__description {
    font-size: $size-md;
    line-height: 18px;
    left: 0;
    margin: 9px 0 83px;
  }

  .product-card__cta--show-more {
    width: 250px;
    left: -41px;
  }

  .product-card__link--image {
    top: 8px;
    margin-bottom: 6px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
  }

  .product-card--show-more .product-card__title {
    margin-bottom: 16px;

    &::before,
    &::after {
      left: 84px;
      top: -99px;
    }
  }

  .product-card__image {
    margin-bottom: 13px;
    position: relative;
    top: 2px;
    transform: scaleY(0.92);

    &--smaller,
    &--even-smaller {
      transform: scale(0.81);
    }
  }

  .product-card__title {
    margin-bottom: 4px;
  }

  .product-card__description-item {
    padding: 4px 0 8px;
  }

  .product-card--show-more {
    padding: 149px 38px 40px;
  }

  .product-card--show-more .product-card__description {
    margin-bottom: 91px;
  }

  .product-card__cta--show-more {
    width: 169px;
    left: -1px;
  }
}
