.program-selection {
  margin-bottom: 32px;
}

.program-selection__title {
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 27px 0 37px;
  text-align: left;
  font-weight: 400;

  @media (min-width: 1440px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.program-selection__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

@media (min-width: 768px) {
  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 51px;
    margin-bottom: 55px;
  }

  .program-selection__description {
    font-size: 20px;
    line-height: 30px;
    width: 340px;
    margin-bottom: 65px;
  }

  .program-selection {
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .program-selection__title {
    margin-top: 60px;
  }

  .program-selection {
    margin-bottom: 81px;
  }
}
