.stats-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 33px;
  margin-bottom: 11px;
}

.stats-list__number {
  display: block;
  font-family: $primary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
}

.stats-list__description {
  @include mp0;
  display: block;
  font-family: $alternate-font;
  font-size: $size-xs;
  line-height: 12px;
  color: $text-secondary-color;
  position: relative;
  top: -8px;
  left: 17px;
  border-left: 10px solid #eaeaea;
  border-right: 10px solid #eaeaea;
  text-align: center;
  background-color: #eaeaea;
  width: 87px;
}

@media (min-width: $tablet-width) {
  .stats-list {
    width: 368px;
    gap: 44px;
  }

  .stats-list__description {
    border-color: #ffffff;
    background-color: #ffffff;
    top: -8px;
    left: 5px;
    width: 150px;
    font-size: $size-sm;
    line-height: 14px;
  }

  .stats-list__number {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .stats-list {
    margin-bottom: 33px;
  }

  .stats-list__number,
  .stats-list__description,
  .stats-list__item {
    z-index: 2;
  }

  .stats-list__description {
    background-color: $secondary-color;
    border-color: $secondary-color;
    top: -10px;
    left: 5px;
  }
}
