@mixin mp0 {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  @include mp0;
  list-style-type: none;
}

@mixin header-2 {
  @include mp0;
  font-family: $primary-font;
  font-size: $size-xl;
  line-height: 40px;

  @media (min-width: $desktop-width) {
    font-size: $size-xxl;
    line-height: 60px;
  }
}

@mixin header-3 {
  @include header-2;
  font-size: $size-xl;
  line-height: 36px;
}
