$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

$primary-color: #68b738d9;
$text-primary-color: #ffffff;
$secondary-color: #f2f2f2;
$text-secondary-color: #444444;

$size-xs: 12px;
$size-sm: 14px;
$size-md: 16px;
$size-lg: 20px;
$size-xl: 36px;
$size-xxl: 60px;

$animation-duration: 250ms;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
