// Начните писать стили здесь

@import "./common/fonts.scss";
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/elements.scss";
@import "./blocks/button.scss";
@import "./blocks/container.scss";
@import "./blocks/hero.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-menu.scss";
@import "./blocks/options.scss";
@import "./blocks/features.scss";
@import "./blocks/example.scss";
@import "./blocks/stats-list.scss";
@import "./blocks/slider-comparison.scss";
@import "./blocks/map.scss";
@import "./blocks/footer.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/goods-table.scss";
@import "./blocks/additional-goods.scss";
@import "./blocks/program-selection.scss";
@import "./blocks/form.scss";
@import "./blocks/custom-checkbox-wrapper.scss";
