@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.main-wrapper {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
}
.button:hover, .button:focus {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
}
.button--secondary:hover, .button--secondary:focus, .button--secondary:active {
  background-color: #ebebeb;
  color: #444444;
}

@media (min-width: 768px) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 110px;
  }
}

.hero__wrapper {
  padding: 0;
  margin-bottom: 20px;
  position: relative;
}

.hero__text-wrapper {
  margin-bottom: 138px;
  padding-top: 27px;
  position: relative;
}

.hero__title,
.hero__subtitle {
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-align: center;
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 22px;
}

.hero__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.hero__call-to-action {
  width: 280px;
  margin: 0 auto;
}

.hero__image {
  margin-top: -113px;
  top: 137px;
  position: relative;
  max-width: 100%;
}

@media (max-width: 767px) {
  .hero__wrapper::after,
.hero__wrapper::before {
    content: "";
    display: block;
    height: 100%;
    max-height: 302px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .hero__wrapper::before {
    background-image: url("../img/hero/index-background-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__wrapper::before {
    background-image: url("../img/hero/index-background-mobile@2x.jpg");
  }
}
@media (max-width: 767px) {
  .hero__wrapper::after {
    background-color: #68b738;
    opacity: 85%;
  }
}
@media (min-width: 768px) {
  .hero__wrapper {
    padding: 0 0 533px;
    margin-bottom: -6px;
  }

  .hero__text-wrapper {
    margin-bottom: 50px;
    padding: 27px 0;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    max-width: 420px;
    margin-bottom: 40px;
  }

  .hero__subtitle {
    font-size: 20px;
    line-height: 20px;
  }

  .hero__title,
.hero__subtitle {
    color: #000000;
    text-align: left;
  }

  .hero__call-to-action {
    margin-left: 90px;
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    min-height: 54px;
  }

  .hero__image {
    margin: 0;
    position: absolute;
    top: 251px;
    left: 10px;
    z-index: -1;
    width: 709px;
    height: 609px;
  }
}
@media (max-width: 1439px) and (min-width: 768px) {
  .hero__text-wrapper {
    padding: 42px 0 0 90px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1440px) {
  .hero {
    position: relative;
  }

  .hero__wrapper {
    padding: 55px 0 184px 0;
    margin-bottom: 80px;
  }

  .hero::after,
.hero::before {
    content: "";
    position: absolute;
    top: -168px;
    right: 0;
    width: 50%;
    min-height: 694px;
    height: 100%;
  }

  .hero::after {
    z-index: -2;
    background-color: #68b738;
    background-image: url("../img/hero/index-background-desktop.jpg");
    background-size: cover;
    background-position: center center;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero::after {
    background-image: url("../img/hero/index-background-desktop@2x.jpg");
  }
}
@media (min-width: 1440px) {
  .hero::before {
    z-index: -1;
    background-color: #68b738;
    opacity: 0.85;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .hero__text-wrapper {
    margin-bottom: 52px;
    padding: 2px 0 0 80px;
  }
}
@media (min-width: 1440px) {
  .hero__call-to-action {
    margin-left: 80px;
  }
}
@media (min-width: 1440px) {
  .hero__image {
    position: absolute;
    top: -79px;
    left: 447px;
    z-index: 1;
    width: 552px;
    height: 499px;
  }
}
.main-header {
  display: flex;
  min-height: 65px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  width: 320px;
  padding: 13px 20px 10px;
}

.main-header__logo {
  display: flex;
  align-items: center;
  transition: opacity 250ms;
}
.main-header__logo:hover {
  opacity: 0.8;
}
.main-header__logo:active {
  opacity: 0.6;
}

.main-header__logo-img {
  height: 38px;
  width: 33px;
}

.main-header__logo-text {
  width: 101px;
  height: 20px;
  margin-left: 56px;
}

@media (max-width: 767px) {
  .main-header--no-js {
    flex-direction: column;
    padding: 20px 0 0 0;
  }

  .main-header--no-js .main-menu__toggle-menu {
    display: none;
  }

  .main-header--no-js .main-menu__items {
    position: relative;
    width: 320px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
  }

  .main-header--no-js .main-header__logo {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .main-header {
    width: 704px;
    margin: 10px auto;
    justify-content: flex-start;
    padding: 14px 0 10px;
  }

  .main-header__logo-img {
    width: 60px;
    height: 50px;
  }

  .main-header__logo-text {
    margin-left: 12px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    margin: 40px auto;
    width: 1220px;
    justify-content: space-between;
  }

  .main-header__logo-img {
    width: 70px;
    height: 59px;
  }

  .main-header__logo-text {
    width: 123px;
    height: 23px;
    margin-left: 11px;
  }
}
.main-menu__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

.main-menu__items--closed {
  display: none;
}

.main-menu__link {
  text-decoration: none;
  color: #000000;
  position: relative;
  transition: opacity 250ms;
}
.main-menu__link[href]:hover, .main-menu__link[href]:focus {
  opacity: 0.6;
}
.main-menu__link[href]:active {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .main-menu {
    position: relative;
  }

  .main-menu__toggle-menu {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
  }
  .main-menu__toggle-menu::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
    top: 0;
    left: 0;
    box-shadow: 0 8px 0 #000000, 0 16px 0 #000000;
  }
  .main-menu__toggle-menu:has(+ .main-menu__items--opened) {
    width: 24px;
    height: 24px;
  }
  .main-menu__toggle-menu:has(+ .main-menu__items--opened)::after, .main-menu__toggle-menu:has(+ .main-menu__items--opened)::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 1.5px;
    background-color: #000000;
    box-shadow: none;
  }
  .main-menu__toggle-menu:has(+ .main-menu__items--opened)::after {
    transform: rotate(45deg);
  }
  .main-menu__toggle-menu:has(+ .main-menu__items--opened)::before {
    transform: rotate(-45deg);
  }

  .main-menu__items--opened {
    position: absolute;
    width: 320px;
    background-color: #ffffff;
    left: -276px;
    top: 44px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
  }

  .main-menu__item {
    width: 100%;
    padding: 22px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
  }
  .main-menu__item:first-of-type {
    border-top: 1px solid #e6e6e6;
  }
}
@media (min-width: 768px) {
  .main-menu {
    margin-left: 93px;
  }

  .main-menu__toggle-menu {
    display: none;
  }

  .main-menu__items {
    max-width: 438px;
    display: flex;
    gap: 33px;
    font-size: 18px;
    line-height: 24px;
  }

  .main-menu__item--active {
    cursor: default;
  }

  .main-menu__item--active a::after {
    content: "";
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .main-menu__items {
    font-size: 20px;
    line-height: 20px;
    max-width: 680px;
    gap: 34px;
  }

  .main-menu__items--alternate a {
    color: #ffffff;
  }

  .main-menu__items--alternate .main-menu__item--active a::after {
    background-color: #ffffff;
  }

  .main-menu__item--active a::after {
    bottom: -8px;
  }
}
.options__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 21px;
}

.options__card {
  width: 280px;
  background-color: #f2f2f2;
  padding: 30px 33px 18px 20px;
  position: relative;
}
.options__card::before {
  content: "";
  position: absolute;
  z-index: 2;
  background-size: cover;
}
.options__card--fat-loss::before {
  background-image: url("../img/icons/lost-fat.svg");
  width: 36px;
  height: 50px;
  left: 27px;
  top: 21px;
}
.options__card--gain-mass::before {
  background-image: url("../img/icons/gain-mass.svg");
  width: 67px;
  height: 28px;
  left: 12px;
  top: 35px;
}

.options__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 29px 70px;
  position: relative;
  font-weight: 400;
}
.options__title::before {
  width: 50px;
  height: 50px;
  content: "";
  position: absolute;
  background-color: #68b738;
  border-radius: 50%;
  left: -70px;
  top: -5px;
}
.options__card--fat-loss .options__title {
  top: -1px;
}
.options__card--gain-mass .options__title {
  top: 1px;
  left: 2px;
}

.options__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 41px;
  position: relative;
}
.options__description::after {
  content: "";
  position: absolute;
  width: 240px;
  height: 1px;
  background-color: #d9d9d9;
  bottom: -23px;
  left: 0;
}
.options__card--gain-mass .options__description {
  margin-bottom: 43px;
}

.options__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: opacity 250ms;
}
.options__link:hover .options__arrow {
  transform: scaleX(1.33);
}
.options__link:active, .options__link:active .options__arrow {
  opacity: 0.3;
}

.options__arrow {
  margin-left: 14px;
  position: relative;
  top: -1px;
  transform-origin: left center;
  transition: transform 250ms, opacity 250ms;
}

.options__arrow line {
  stroke: #000000;
}

.options__arrow path {
  fill: #000000;
}

@media (min-width: 768px) {
  .options__wrapper {
    margin-bottom: 46px;
    gap: 31px;
  }

  .options__card {
    width: 708px;
    padding: 77px 316px 58px 52px;
  }
  .options__card--fat-loss::before {
    width: 141px;
    height: 194px;
    left: 474px;
    top: 80px;
  }
  .options__card--gain-mass::before {
    width: 271px;
    height: 113px;
    left: 410px;
    top: 135px;
  }
  .options__card--gain-mass .options__title::before {
    left: 391px;
  }
  .options__card--gain-mass .options__description {
    margin-bottom: 59px;
  }

  .options__title {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }
  .options__title::before {
    width: 200px;
    height: 200px;
    left: 394px;
    top: 14px;
  }

  .options__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
  }
  .options__description::after {
    display: none;
  }

  .options__link {
    font-size: 20px;
  }

  .options__arrow {
    margin-left: 22px;
    top: -3px;
  }
}
@media (min-width: 1440px) {
  .options__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 71px;
  }

  .options__card {
    width: 570px;
    padding: 80px 61px 61px 52px;
  }
  .options__card--fat-loss::before {
    width: 71px;
    height: 97px;
    left: 66px;
    top: 43px;
  }
  .options__card--gain-mass::before {
    width: 137px;
    height: 57px;
    left: 31px;
    top: 69px;
  }

  .options__title {
    margin: 0 0 73px 162px;
  }

  .options__card--gain-mass .options__title {
    top: -1px;
    left: 0;
  }

  .options__title::before {
    width: 100px;
    height: 100px;
    left: -163px;
    top: -30px;
  }

  .options__card--gain-mass .options__title::before {
    left: -162px;
    top: -30px;
  }

  .options__description,
.options__card--gain-mass .options__description {
    margin-bottom: 33px;
  }
}
.features__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 42px;
  font-weight: 400;
}
@media (min-width: 1440px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .features__title {
    margin-bottom: 32px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 49px;
}

.features__item {
  width: 280px;
  min-height: 60px;
  position: relative;
  padding: 0 0 0 60px;
}

.features__number {
  display: none;
}

.features__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  display: block;
  position: relative;
  margin-left: 20px;
}
.features__description::before {
  content: "";
  display: block;
  position: absolute;
  left: -80px;
  top: -1px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
.features__description::after {
  content: "";
  position: absolute;
}
.features__description--leaf::after {
  height: 28px;
  width: 25px;
  background-image: url("../img/icons/leaf.svg");
  left: -62px;
  top: 14px;
}
.features__description--powder::after {
  height: 29px;
  width: 27px;
  background-image: url("../img/icons/powder.svg");
  left: -63px;
  top: 14px;
}
.features__description--utensils::after {
  height: 30px;
  width: 25px;
  background-image: url("../img/icons/utensils.svg");
  left: -64px;
  top: 13px;
}
.features__description--clock::after {
  height: 31px;
  width: 27px;
  background-image: url("../img/icons/clock.svg");
  left: -63px;
  top: 13px;
}
@media (min-width: 1440px) {
  .features__description {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__tablet-break {
  display: none;
}

@media (min-width: 768px) {
  .features {
    margin-bottom: 68px;
  }

  .features__title {
    margin-bottom: 62px;
    font-size: 60px;
    line-height: 60px;
  }

  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 153px;
    justify-content: flex-start;
    row-gap: 67px;
  }

  .features__item {
    flex-shrink: 0;
    width: 230px;
    padding: 121px 56px 57px 0;
  }

  .features__number {
    position: absolute;
    top: -30px;
    left: 116px;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    font-family: "Oswald", "Arial", sans-serif;
    display: block;
    z-index: -1;
  }

  .features__tablet-break {
    display: inline;
  }

  .features__description {
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }
  .features__description::before {
    width: 80px;
    height: 80px;
    top: -111px;
    left: 0;
  }
  .features__description--leaf::after {
    top: -84px;
    left: 27px;
  }
  .features__description--powder::after {
    top: -85px;
    left: 28px;
  }
  .features__description--utensils::after {
    top: -86px;
    left: 27px;
  }
  .features__description--clock::after {
    top: -86px;
    left: 27px;
  }
}
@media (min-width: 1440px) {
  .features {
    margin-bottom: 66px;
  }

  .features__title {
    margin-bottom: 32px;
  }

  .features__list {
    column-gap: 95px;
  }

  .features__item {
    padding: 151px 26px 57px 0;
  }

  .features__number {
    top: 0;
    left: 111px;
  }
}
.example__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  padding-top: 20px;
}

.example__description-desktop-separators {
  display: none;
}

.example {
  position: relative;
  background-color: #eaeaea;
}

.example__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  margin: 3px 0 40px;
  color: #000000;
  font-weight: 400;
}
@media (min-width: 1440px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  color: #444444;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 19px;
  width: 280px;
}

.example__stats {
  margin-bottom: 8px;
}

.example__total {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    height: 1036px;
    margin-bottom: 26px;
  }

  .example::after {
    content: "";
    display: block;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
    position: absolute;
    bottom: -24px;
    left: 0;
    z-index: 1;
  }

  .example__wrapper {
    gap: 67px;
    justify-content: flex-start;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .example__description {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  .example__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .example__total {
    text-align: right;
    font-size: 20px;
    line-height: 28px;
    padding-top: 9px;
  }

  .example__total-number {
    display: block;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .example__description-desktop-separators {
    display: inline;
  }

  .example {
    height: auto;
    margin-bottom: 24px;
  }

  .example__wrapper {
    flex-direction: row;
    gap: 184px;
    padding-top: 0;
  }

  .example::after {
    top: 139px;
    background-color: #f2f2f2;
    min-height: 462px;
    height: auto;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__description,
.example__total {
    z-index: 2;
    position: relative;
    margin-bottom: 69px;
  }

  .example__description,
.example__stats {
    width: 475px;
  }

  .example__stats {
    flex-direction: column;
  }

  .example__total {
    text-align: left;
  }

  .example__total-number {
    display: inline-block;
    margin-left: 63px;
  }
}
.stats-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 33px;
  margin-bottom: 11px;
  list-style: none;
  padding: 0;
}

.stats-list__number {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
}

.stats-list__description {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  position: relative;
  top: -8px;
  left: 17px;
  border-left: 10px solid #eaeaea;
  border-right: 10px solid #eaeaea;
  text-align: center;
  background-color: #eaeaea;
  width: 87px;
}

@media (min-width: 768px) {
  .stats-list {
    width: 368px;
    gap: 44px;
  }

  .stats-list__description {
    border-color: #ffffff;
    background-color: #ffffff;
    top: -8px;
    left: 5px;
    width: 150px;
    font-size: 14px;
    line-height: 14px;
  }

  .stats-list__number {
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 19px;
  }
}
@media (min-width: 1440px) {
  .stats-list {
    margin-bottom: 33px;
  }

  .stats-list__number,
.stats-list__description,
.stats-list__item {
    z-index: 2;
  }

  .stats-list__description {
    background-color: #f2f2f2;
    border-color: #f2f2f2;
    top: -10px;
    left: 5px;
  }
}
.slider-comparison {
  position: relative;
  height: 280px;
  margin-bottom: 28px;
  display: flex;
}

.slider-comparison__image-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider-comparison__image {
  display: block;
  height: 256px;
  width: 280px;
  position: absolute;
  top: 12px;
  right: 0;
}
.slider-comparison__image--first {
  left: 0;
}

.slider-comparison__curtain {
  margin: 0;
  padding: 0;
  width: 4px;
  height: 256px;
  top: 12px;
  background-color: #666666;
  border-radius: 2px;
  border: none;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.slider-comparison__curtain:hover, .slider-comparison__curtain:focus {
  background-color: #68b738;
}
.slider-comparison__curtain:hover .slider-comparison__curtain-icon, .slider-comparison__curtain:focus .slider-comparison__curtain-icon {
  fill: #68b738;
}
.slider-comparison__curtain:hover .slider-comparison__button, .slider-comparison__curtain:focus .slider-comparison__button {
  border: 2px solid #68b738;
}
.slider-comparison__curtain:active {
  background-color: rgba(94, 170, 47, 0.4);
}
.slider-comparison__curtain:active .slider-comparison__button {
  border: 2px solid rgba(94, 170, 47, 0.4);
}
.slider-comparison__curtain:active .slider-comparison__curtain-icon {
  fill: rgba(94, 170, 47, 0.4);
}

.slider-comparison__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  background-color: #ffffff;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  transform: translate(50%, 50%);
  cursor: ew-resize;
  pointer-events: auto;
}

.slider-comparison__curtain-icon {
  fill: #666666;
}

@media (min-width: 768px) {
  .slider-comparison {
    z-index: 2;
    height: 512px;
    min-width: 560px;
    margin: 0 auto;
  }

  .slider-comparison__image {
    height: 512px;
    width: 560px;
  }

  .slider-comparison__curtain {
    height: 100%;
  }
}
@media (min-width: 1440px) {
  .slider-comparison {
    top: -8px;
  }
}
.map {
  padding: 0;
  background-color: #ffffff;
}

.map__text {
  background-color: #ffffff;
}

.map__text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 320px;
  padding: 26px 20px;
  margin: 0 auto;
}

.map__text--alternate-bg {
  background-color: #f2f2f2;
}

.map__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.map__address {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  width: 140px;
  display: inline-block;
  justify-self: end;
}

.map__actual-map {
  background: #ffffff url("../../img/map-mobile.jpg") no-repeat center center/cover;
  height: 362px;
  width: 100%;
  border: 0;
  display: block;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .map__actual-map {
    background: #ffffff url("../../img/map-mobile@2x.jpg") no-repeat center center/cover;
  }
}

@media (min-width: 768px) {
  .map__text {
    width: 100%;
    display: flex;
  }

  .map__text-container {
    margin: 0 auto;
    width: 768px;
    display: flex;
    justify-content: space-between;
    padding: 60px 70px 59px 69px;
  }

  .map__title {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
  }

  .map__address {
    font-size: 16px;
    text-align: right;
    flex-grow: 1;
    max-width: 160px;
  }

  .map__city {
    display: inline-block;
    margin-top: 20px;
  }

  .map__actual-map {
    height: 400px;
    background: #ffffff url("../../img/map-tablet.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .map__actual-map {
    background: #ffffff url("../../img/map-tablet@2x.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 1440px) {
  .map {
    position: relative;
    height: 400px;
    margin-top: -22px;
    z-index: 3;
  }

  .map__text {
    width: 565px;
    padding: 60px 75px 60px 80px;
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 110px;
  }

  .map__text-container {
    padding: 0;
  }

  .map__address {
    text-align: left;
  }

  .map__text--alternate-bg {
    background-color: #ffffff;
  }

  .map__actual-map {
    position: absolute;
    left: 0;
    width: 100%;
    background: #ffffff url("../../img/map-desktop.jpg") no-repeat center center/cover;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .map__actual-map {
    background: #ffffff url("../../img/map-desktop@2x.jpg") no-repeat center center/cover;
  }
}
.footer {
  background-color: #f2f2f2;
}

.footer__logo {
  fill: #111111;
  transition: fill 250ms;
}
.footer__logo:hover, .footer__logo:focus {
  fill: #3e3e3e;
}
.footer__logo:active {
  fill: #6b6b6b;
}

.footer__social-icon {
  fill: #666666;
  transition: fill 250ms, opacity 250ms;
}
.footer__social-icon:hover, .footer__social-icon:focus {
  fill: #68b738;
}
.footer__social-icon:active {
  fill: #68b738;
  opacity: 0.3;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 37px;
  padding: 40px 20px;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 28px;
  position: relative;
  top: 1px;
  left: -3px;
}

.footer__html-academy-logo {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: opacity 250ms;
  gap: 23px;
  align-items: center;
}
.footer__html-academy-logo:hover .footer__html-academy-logo-icon, .footer__html-academy-logo:focus .footer__html-academy-logo-icon {
  fill: #68b738;
}
.footer__html-academy-logo:active {
  opacity: 0.3;
}

.footer__html-academy-logo-icon {
  transition: opacity 250ms, fill 250ms;
}
.footer__html-academy-logo-icon:hover, .footer__html-academy-logo-icon:focus {
  fill: #68b738;
}
.footer__html-academy-logo-icon:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .footer__wrapper {
    padding: 59px 30px 55px;
    flex-direction: row;
    min-height: 147px;
  }

  .footer__html-academy-logo {
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .footer__social-list {
    top: 1px;
    left: 15px;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    padding: 69px 110px 66px;
  }
}
.catalog {
  margin-bottom: 25px;
}

.catalog__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  line-height: 36px;
  margin: 27px 0 41px -1px;
  font-weight: 400;
}
@media (min-width: 1440px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .catalog {
    padding: 0 30px;
    margin-bottom: 70px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    margin: 52px 0 85px;
  }

  .catalog__products-list {
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    padding: 0 110px;
    margin: 0 auto 76px auto;
  }

  .catalog__title {
    margin-bottom: 84px;
    margin-top: 61px;
  }

  .catalog__products-list {
    column-gap: 80px;
    row-gap: 63px;
  }
}
.product-card {
  min-height: 209px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;
  padding-top: 22px;
}

.product-card:first-of-type {
  border-top: 1px solid #ebebeb;
}

.product-card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  margin-bottom: -2px;
}

.product-card__image {
  height: 86px;
  width: auto;
  transform: scale(1.17);
}
.product-card__image--smaller {
  transform: scale(1);
}
.product-card__image--even-smaller {
  transform: scale(0.9);
}

.product-card__text {
  display: flex;
  flex-direction: column;
}

.product-card__link {
  text-decoration: none;
  color: #000000;
  order: 1;
}

.product-card__title-separator--tablet {
  display: none;
}

.product-card__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  width: 105px;
}

.product-card__link--image {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 0;
  position: relative;
  top: -10px;
}

.product-card__description {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  order: 2;
  margin: 14px 0 23px;
}

.product-card__description-item {
  display: flex;
  justify-content: space-between;
}

.product-card__option-name,
.product-card__option-value {
  font-size: 12px;
  line-height: 16px;
}

.product-card__option-value {
  text-align: right;
}

.product-card__option-value--price::after {
  content: " ₽";
}

.product-card__cta {
  flex-shrink: 0;
  order: 3;
  min-height: 40px;
}

.product-card--show-more {
  text-align: center;
  display: flex;
  padding-top: 26px;
  padding-left: 15px;
}
.product-card--show-more .product-card__description {
  margin: 9px 0 21px;
  left: -7px;
  position: relative;
}
.product-card--show-more .product-card__title {
  width: 250px;
  font-weight: 400;
}
.product-card--show-more .product-card__title::before, .product-card--show-more .product-card__title::after {
  content: "";
  position: absolute;
  top: -53px;
  left: 124.5px;
  width: 2px;
  height: 30px;
  background-color: #d2d2d2;
}
.product-card--show-more .product-card__title::before {
  transform: rotate(90deg);
}

.product-card__title--show-more {
  margin-top: 53px;
  text-align: center;
  cursor: default;
}

.product-card__cta--show-more {
  width: 280px;
  position: relative;
  left: -16px;
  order: 3;
}

@media (min-width: 768px) {
  .product-card {
    width: 324px;
    min-height: 511px;
    background-color: #f2f2f2;
    position: relative;
    border: none;
    padding: 0 37px 40px;
  }

  .product-card:first-of-type {
    border: none;
  }

  .product-card::before {
    width: 100%;
    height: 81px;
    content: "";
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .product-card__info {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .product-card__image {
    height: 210px;
    margin-bottom: 22px;
    transform: scale(0.98);
  }
  .product-card__image--smaller, .product-card__image--even-smaller {
    transform: scale(0.82);
  }

  .product-card--show-more .product-card__title {
    margin-bottom: 13px;
    width: auto;
  }
  .product-card--show-more .product-card__title::before, .product-card--show-more .product-card__title::after {
    height: 60px;
    top: -110px;
    left: 84px;
  }

  .product-card__text {
    margin-bottom: 12px;
  }

  .product-card__title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    margin: 0 auto;
  }

  .product-card__description-item {
    border-bottom: 1px solid #cdcdcd;
    padding: 6px 0 4px;
  }

  .product-card__option-name,
.product-card__option-value {
    font-size: 16px;
    line-height: 20px;
  }

  .product-card--show-more {
    height: 100%;
    min-height: 429px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    position: relative;
    top: 81px;
    padding: 160px 77px 40px;
    justify-content: flex-start;
  }

  .product-card--show-more::before {
    display: none;
  }

  .product-card--show-more .product-card__description {
    font-size: 16px;
    line-height: 18px;
    left: 0;
    margin: 9px 0 83px;
  }

  .product-card__cta--show-more {
    width: 250px;
    left: -41px;
  }

  .product-card__link--image {
    top: 8px;
    margin-bottom: 6px;
  }
}
@media (min-width: 1440px) {
  .product-card {
    width: 245px;
  }

  .product-card--show-more .product-card__title {
    margin-bottom: 16px;
  }
  .product-card--show-more .product-card__title::before, .product-card--show-more .product-card__title::after {
    left: 84px;
    top: -99px;
  }

  .product-card__image {
    margin-bottom: 13px;
    position: relative;
    top: 2px;
    transform: scaleY(0.92);
  }
  .product-card__image--smaller, .product-card__image--even-smaller {
    transform: scale(0.81);
  }

  .product-card__title {
    margin-bottom: 4px;
  }

  .product-card__description-item {
    padding: 4px 0 8px;
  }

  .product-card--show-more {
    padding: 149px 38px 40px;
  }

  .product-card--show-more .product-card__description {
    margin-bottom: 91px;
  }

  .product-card__cta--show-more {
    width: 169px;
    left: -1px;
  }
}
.goods-table {
  display: flex;
  flex-direction: column;
}

.goods-table__row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cdcdcd;
}

.goods-table__row:last-of-type {
  border-bottom: 1px solid #cdcdcd;
}

.goods-table__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
}

.goods-table__volume,
.goods-table__price {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.additional-goods {
  position: relative;
  margin-bottom: 38px;
}
.additional-goods::before {
  content: "";
  height: 2px;
  width: 50%;
  left: 50%;
  background-color: #68b738;
  position: absolute;
  top: 14px;
  z-index: -1;
}

.additional-goods__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
  border-right: 20px solid #ffffff;
  z-index: 2;
  font-weight: 400;
}
@media (min-width: 1440px) {
  .additional-goods__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.additional-goods__list {
  width: 100%;
  margin-bottom: 35px;
}

.additional-goods__item {
  border-bottom: 1px solid #ebebeb;
  padding: 13px 0 17px;
}

.additional-goods__item:first-child {
  border-top: 1px solid #ebebeb;
}

.additional-goods__name {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 13px;
}

.additional-goods__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-goods__volume,
.additional-goods__price {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.additional-goods__cta {
  width: 100%;
}

.additional-goods__banner {
  width: 100%;
  min-height: 290px;
  padding: 187px 61px 43px 58px;
  background-color: #68b738;
  text-align: center;
  position: relative;
  background-image: -webkit-image-set(url("../img/catalog-banner/catalog-banner-mobile.jpg") type("image/jpg") 1x, url("../img/catalog-banner/catalog-banner-mobile@2x.jpg") type("image/jpg") 2x);
  background-image: image-set(url("../img/catalog-banner/catalog-banner-mobile.jpg") type("image/jpg") 1x, url("../img/catalog-banner/catalog-banner-mobile@2x.jpg") type("image/jpg") 2x);
  background-position: center center;
  background-size: cover;
}
.additional-goods__banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #68b738;
  top: 0;
  left: 0;
  opacity: 0.85;
  z-index: 1;
}
.additional-goods__banner::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 101px;
  width: 78px;
  height: 81px;
  background-image: url("../img/icons/gift.svg");
  z-index: 2;
}

.additional-goods__banner-description {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  top: 2px;
}

@media (min-width: 768px) {
  .additional-goods {
    margin-bottom: 78px;
    width: auto;
  }
  .additional-goods::before {
    left: 0;
    top: 22px;
    width: 100%;
  }

  .additional-goods__banner {
    min-height: 200px;
    padding: 71px 125px 69px 421px;
    background-image: url("../img/catalog-banner/catalog-banner-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .additional-goods__banner {
    background-image: url("../img/catalog-banner/catalog-banner-tablet@2x.jpg");
  }
}
@media (min-width: 768px) {
  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    border-right: 40px solid #ffffff;
    border-left: 40px solid #ffffff;
    font-weight: 400;
    margin-bottom: 79px;
  }
}
@media (min-width: 768px) {
  .additional-goods__banner-description {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .additional-goods__item {
    border: 1px solid #cdcdcd;
    border-top: none;
    padding: 26px 37px 27px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .additional-goods__item:first-of-type {
    border-top: 1px solid #cdcdcd;
  }
}
@media (min-width: 768px) {
  .additional-goods__price {
    margin-left: 48px;
    margin-right: 3px;
  }
}
@media (min-width: 768px) {
  .additional-goods__name {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .additional-goods__volume,
.additional-goods__price {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 768px) {
  .additional-goods__volume {
    margin-right: 2px;
  }
}
@media (min-width: 768px) {
  .additional-goods__list {
    margin-bottom: 68px;
  }
}
@media (min-width: 768px) {
  .additional-goods__volume--lefter {
    left: -9px;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .additional-goods {
    margin-bottom: 41px;
  }

  .additional-goods__title {
    margin: 0 0 80px -40px;
  }

  .additional-goods__item {
    margin: 0;
    display: grid;
    grid-template-columns: 325px 1fr 246px;
    align-items: center;
    padding: 26px 0 4px 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
  }

  .additional-goods__item:first-of-type {
    border-top: 1px solid #cdcdcd;
  }

  .additional-goods__cta {
    width: 244px;
    position: relative;
    top: -12px;
  }

  .additional-goods__name {
    margin-right: auto;
    font-size: 20px;
    line-height: 16px;
  }

  .additional-goods__description {
    margin-right: 40px;
    margin-bottom: 19px;
  }

  .additional-goods__volume,
.additional-goods__price {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__wrapper {
    display: flex;
    gap: 80px;
  }

  .additional-goods__banner-description {
    text-align: center;
    width: 161px;
  }

  .additional-goods__banner {
    width: 300px;
    height: 100%;
    padding: 185px 42px 43px;
    background-image: url("../img/catalog-banner/catalog-banner-desktop.jpg");
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .additional-goods__banner {
    background-image: url("../img/catalog-banner/catalog-banner-desktop@2x.jpg");
  }
}
@media (min-width: 1440px) {
  .additional-goods__banner::before {
    left: 83px;
    top: 97px;
  }
}
.program-selection {
  margin-bottom: 32px;
}

.program-selection__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 37px;
  text-align: left;
  font-weight: 400;
}
@media (min-width: 1440px) {
  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.program-selection__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}

@media (min-width: 768px) {
  .program-selection__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 51px;
    margin-bottom: 55px;
  }

  .program-selection__description {
    font-size: 20px;
    line-height: 30px;
    width: 340px;
    margin-bottom: 65px;
  }

  .program-selection {
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .program-selection__title {
    margin-top: 60px;
  }

  .program-selection {
    margin-bottom: 81px;
  }
}
.form__section {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin: 0 auto 14px;
  flex-direction: column;
  position: relative;
}

.form__section--without-container {
  padding: 0 20px;
}

.form__fields-group {
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
}

.form__fields-group:first-of-type {
  margin-bottom: 10px;
}

.form__fields-group--with-borders {
  padding-top: 19px;
  margin-left: -20px;
  max-width: 100%;
}

.form__radio-item {
  margin-bottom: 13px;
}

.form__fields-group--with-borders::before {
  content: "";
  width: 320px;
  height: calc(100% - 27px);
  margin: 0 auto;
  position: absolute;
  top: 12px;
  left: 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  display: block;
}

.form__field {
  display: flex;
  align-items: center;
  position: relative;
}

.form__field-name {
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  text-transform: uppercase;
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
}

.form__field-name::after {
  content: ":";
}

.form__field-name--required::after {
  content: ":*";
}

.form__field-input {
  border: 1px solid #e7e7e7;
  padding: 13px 14px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  text-transform: uppercase;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.form__field-input:hover {
  outline: 1px solid #cdcdcd;
}
.form__field-input:focus {
  outline: 2px solid #444444;
}
.form__field-input:focus + .form__field-icon {
  stroke: #68b738;
}
.form__field-input--error {
  outline: 2px solid #ff8282;
}
.form__field-input--error + .form__field-icon {
  stroke: #ff8282;
}

.form__field-input--email,
.form__field-input--phone {
  padding-right: 36px;
}

.form__field-icon {
  stroke: #222222;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  fill: none;
}

.form__field-input--textarea {
  width: 100%;
  line-height: 30px;
  height: 156px;
  padding-top: 10px;
}

.form__radio-group {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 22px 20px;
  display: flex;
  gap: 13px;
  justify-content: center;
  flex-direction: column;
}

.form__radio-label {
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 45px;
  width: 100%;
  display: block;
}

.form__radio-input {
  position: relative;
  cursor: pointer;
}

.form__custom-radio {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  position: absolute;
  border-radius: 50%;
  top: -7px;
  cursor: pointer;
  transition: border 250ms;
}

.form__radio-input input:checked ~ .form__custom-radio::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #68b738;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.form__section--with-line::before {
  content: "";
  height: 2px;
  width: 50%;
  left: 50%;
  background-color: #68b738;
  position: absolute;
  top: 14px;
  z-index: -1;
}

.form__section-name {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  margin-bottom: 36px;
  text-wrap: wrap;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
  border-right: 25px solid #ffffff;
  z-index: 2;
  font-weight: 400;
}

.form__submit-group {
  display: flex;
  flex-direction: column;
}

.form__submit-button {
  margin-bottom: 21px;
}

.form__footnote {
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.form__checkboxes-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-bottom: 23px;
}

.form__actual-radio:disabled ~ .form__custom-radio,
.form__actual-radio:disabled ~ .form__custom-radio::after,
.form__actual-radio:disabled ~ .form__radio-label {
  opacity: 0.3;
}

.form__radio-input:hover .form__custom-radio {
  border: 1px solid #bababa;
}

.form__actual-radio:focus + .form__custom-radio {
  border: 1px solid #444444;
}

@media (min-width: 768px) {
  .form__field-name {
    font-size: 20px;
  }

  .form__field-input {
    font-size: 20px;
    padding: 11px 18px;
  }

  .form__field-icon {
    right: 15px;
  }

  .form__fields-group--with-borders {
    margin-left: 0;
    border: 1px solid #e7e7e7;
    padding: 6px 6px 27px;
  }

  .form__fields-group {
    gap: 18px;
  }

  .form__fields-group:first-of-type {
    margin-bottom: 72px;
  }

  .form__fields-group--with-borders::before {
    display: none;
  }

  .form__section {
    margin-bottom: 65px;
  }

  .form__section-name {
    font-size: 36px;
    line-height: 36px;
    border-right: 40px solid #ffffff;
    border-left: 40px solid #ffffff;
    margin: 0 0 71px -42px;
  }

  .form__section-name-separator {
    display: none;
  }

  .form__section-name br {
    display: none;
  }

  .form__section--with-line::before {
    width: 100%;
    left: 0;
    top: 22px;
  }

  .form__radio-label {
    font-size: 20px;
    margin-left: 60px;
  }

  .form__checkboxes-wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 41px;
    justify-content: space-between;
  }

  .form__submit-group {
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .form__submit-button {
    width: 284px;
    height: 54px;
    font-size: 20px;
    line-height: 26px;
  }

  .form__section--additional {
    margin-bottom: 35px;
  }

  .form__footnote {
    margin: 0 61px 25px;
    font-size: 16px;
    line-height: 16px;
  }

  .form__custom-radio {
    width: 40px;
    height: 40px;
    top: -11px;
  }

  .form__radio-input input:checked ~ .form__custom-radio::after {
    width: 18px;
    height: 18px;
  }

  .form__radio-group {
    padding: 26px 20px 0;
    gap: 22px;
  }

  .form__section--contact-data {
    margin-bottom: -7px;
  }

  .form__section-name--commentary {
    margin-bottom: 87px;
  }

  .form__field-input--textarea {
    height: 176px;
  }

  .form__section--commentary {
    margin-bottom: 60px;
  }

  .form__section-name--additional {
    margin-bottom: 62px;
  }
}
@media (min-width: 1440px) {
  .form__section-name {
    margin-bottom: 75px;
  }

  .form__fields-group--near {
    flex-direction: row;
    width: 100%;
    gap: 81px;
  }

  .form__fields-group--near .form__field {
    width: 570px;
  }

  .form__fields-group--with-borders {
    padding: 37px 40px 35px 27px;
  }

  .form__group-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form__field-input--email,
.form__field-input--phone {
    padding-right: 44px;
  }

  .form__group-wrapper .form__fields-group {
    width: 570px;
  }

  .form__fields-group {
    gap: 19px;
  }

  .form__fields-group:first-of-type {
    margin-bottom: 0;
  }

  .form__radio-group {
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
    gap: 22px;
  }

  .form__submit-group {
    justify-content: flex-start;
  }

  .form__submit-button {
    width: 570px;
  }

  .form__footnote {
    margin-left: 80px;
    font-size: 16px;
  }

  .form__section {
    margin-bottom: 56px;
  }

  .form__section--contact-data {
    margin-bottom: 67px;
  }

  .form__fields-group--near.form__fields-group {
    gap: 80px;
    flex-wrap: wrap;
  }

  .form__field-icon {
    right: 17px;
  }

  .form__section-name--commentary {
    margin-bottom: 80px;
  }

  .form__section--commentary {
    margin-bottom: 67px;
  }

  .form__section-name--additional {
    margin-bottom: 60px;
  }

  .form__section--additional {
    margin-bottom: 43px;
  }

  .form__checkboxes-wrapper {
    justify-content: flex-start;
    width: 1300px;
  }
}
.custom-checkbox-wrapper {
  position: relative;
  cursor: pointer;
}

.custom-checkbox-wrapper__label {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  margin-left: 45px;
  text-transform: uppercase;
}

.custom-checkbox-wrapper__custom-checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  display: block;
  top: -4px;
  position: absolute;
  transition: border 250ms;
}

.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__custom-checkbox,
.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__custom-checkbox::after,
.custom-checkbox-wrapper__actual-checkbox:disabled ~ .custom-checkbox-wrapper__label {
  opacity: 0.3;
}

.custom-checkbox-wrapper__actual-checkbox:checked ~ .custom-checkbox-wrapper__custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
  width: 24px;
  height: 19px;
  background-image: url("../img/icons/checkmark.svg");
}

.custom-checkbox-wrapper__actual-checkbox:hover ~ .custom-checkbox-wrapper__custom-checkbox {
  border: 1px solid #bababa;
}

.custom-checkbox-wrapper__actual-checkbox:focus ~ .custom-checkbox-wrapper__custom-checkbox {
  border: 1px solid #444444;
}

@media (min-width: 768px) {
  .custom-checkbox-wrapper__custom-checkbox {
    width: 40px;
    height: 40px;
  }

  .custom-checkbox-wrapper {
    width: 50%;
  }

  .custom-checkbox-wrapper:nth-of-type(2n) {
    padding-left: 31px;
  }

  .custom-checkbox-wrapper__label {
    font-size: 20px;
    margin-left: 60px;
  }
}
@media (min-width: 1440px) {
  .custom-checkbox-wrapper:nth-of-type(2n) {
    padding-left: 0;
  }

  .custom-checkbox-wrapper {
    width: 25%;
  }
}
/*# sourceMappingURL=style.css.map */